.form_style {
    margin-inline: auto;
    width: 500px;
}

.table-style {
    margin-inline: 15px;
}

.completed {
    background-color: lime !important;
}

.uncompleted {
    background-color: red !important;
}

.task-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.complete-button {
    width: 150px;
}

.selector {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.three-position-button {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.three-position-button.alltasks {
    background-color: gray;
}

.three-position-button.completed {
    background-color: lime;
}

.three-position-button.uncompleted {
    background-color: red;
}

.three-position-button:hover {
    opacity: 80%;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 500px;
    border: solid black;
    border-radius: 10px;
    padding-inline: 10px;
    margin-inline: auto;
    margin-bottom: 10px;
}

.radio-but {
    margin-right: 5px;
}