.form_style {
    margin-inline: auto;
    width: 500px;
}

.table {
    margin-inline: 15px;
    background-color: rgb(60, 60, 60) !important;
}

.completed {
    background-color: lime !important;
}

.task-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.complete-button {
    width: 150px;
}